.App {
  text-align: center;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 30px;
  display: grid;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  text-align: left;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.form{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  margin-left:10%;
  margin-bottom:5%
}
input{
  border-radius: 10px;
  border: black 1px solid;
  padding: 10px;
  font-size: 20px;
  width: 70%;
}
textarea{
  border-radius: 10px;
  border: black 1px solid;
  padding: 10px;
  font-size: 20px;
  width: 70%;
}


